*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Arial Rounded", Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: center;
    text-align: center;
    background: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
}

header {
    width:100%;
    height: 20%;
    padding: 20px;
    margin-bottom: 80px;
}

h3 {
    font-weight: bolder;
    font-size: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    max-width: 30%;
    max-height: 20%; 
    padding: 20px;
    box-shadow: 0 0 15px 2px;
}


.container, .form-container {
    background-color: #ffffff;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    max-width: 50%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 5px 2px;
    position: relative;
}

.form-container {
    margin-top: 15%;
}

#name{
    margin: 10px 0px 20px 0px;
}

h1 {
    margin: 20px;
    font-size: 40px;  
}

#comment, p, ul{
    font-size: 20px; 
    font-weight: bold;
}

ul{
    padding: 0px;
}

 li {
    display: grid;
    align-items: center;
    max-width: 70%;
    margin: 10px auto;
    background-color:#e99678;
    border: 1px #e99678;
} 

.start-button, button{
    background-color: #e99678;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    padding: 5px 10px;
    outline: none;
    font-size: 20px;
}

#score-page{
    font-weight: bolder;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    max-width: 30%;
    max-height: 20%; 
    padding: 20px;
    box-shadow: 0 0 15px 2px;
}
.btn:hover {
    border-color: grey;
}

.hide {
    display: none;
}
 
footer {
    background-color: #e99678;
    opacity: 60%;
    color: wheat;
    font-size: 12px;
    text-align: center;
    border-top: 2px solid  wheat;
    width: 100%;
    height: 60px;
    padding: 10px;
    bottom: 0;
    position: absolute;
  }